@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Italic-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

* {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-end;
  gap: 4.6rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F2937;
  height: 5rem;
  color: #F9FAF8;
}

.quote-section {
  background-color: #E5E7EB;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.quote-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 2.6rem 5.2rem;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: #1F2937;
}

.quote-author {
  align-self: flex-end;
}
* {
  margin: 0;
  padding: 0;
}

.quote-section {
  background-color: #E5E7EB;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  margin-bottom: 4.6rem;
}

.quote-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 2.6rem 5.2rem;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: #1F2937;
}

.quote-author {
  align-self: flex-end;
}

.cta-section {
  color: #F9FAF8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-container {
  padding: 2.6rem;
  background-color: #3882F6;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 16px;
}

.cta-text-secondary {
  font-size: 13px;
}

.cta-btn {
  color: #F9FAF8;
  border: 1px solid #F9FAF8;
  border-radius: 6px;
  padding: 0.5rem 2.6rem;
  background-color: #3882F6;
  cursor: pointer;
  transition: filter 0.2s ease;
}

.cta-btn:hover {
  filter: brightness(1.2);
}

